/*======公共样式：开始=======*/
a,p,ul,li,body,html{margin: 0; padding: 0;}
body,html {width:100%;height:auto; background: #f8f8f8; }
div.MaxBody{width:100%;height:auto; min-height:100vh;max-width:640px;margin:0 auto;min-width:320px;z-index:0;position:relative;padding-bottom:50px ;}
img.ImgMould {position:absolute;z-index:-19940616;display:block;max-width:100%;max-height:100%;visibility:hidden;top:0;left:0;min-height:320px;}
div.Center {position:absolute;width:auto;height:auto;left:0;top:0;bottom:0;right:0;margin:auto;z-index:1;}
.after:after{content:"";display:block;clear:both;}

.menu{position:fixed;bottom:1%;left:1%;z-index:50;width:20%;}
.menu_title img{display:block;max-width:100%;float:left;animation: myfirst 1.2s linear 0s infinite alternate;}
@keyframes myfirst{from {transform: translate(0,0);}to {transform: translate(-5px,0);}}
.menu a.menu_item{text-align:center; display:block;float:left;width:120%;margin:0.2em 3%;background:rgba(0, 0, 0, 0.77);color:#fff;padding:0.6em 0.4em;}
.menu_bind{display:none;}
.FengxiangMen,.LingquMengban,.GuaguakaMen{position:fixed;top:0;left:0;bottom:0;right:0; width:100%; height:100%;background:rgba(0, 0, 0, 0.79);max-width:640px;margin:auto;z-index:1994;display:none;overflow:auto;}
.FengxiangMen img{display:block;margin:0 auto;max-width:100%;}
.LingquMengban .oupeng{width:90%;height:55%;background:#fcf2cf;border-radius:8px;padding:7% 5%;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;}

.layui-layer-dialog{width:260px;}

img{color:#fff;}
.absolute{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
/*.swiper-slide img*/
.bg{max-width:100%;margin:0 auto;display:block;}
.GuaguakaMen-enter{width:85%; min-height:60vw; margin:30vw auto;position:relative;padding-top:1vw;background:#fff;border-radius:8px;overflow:hidden;padding-bottom:13vw;}
.neirong{width:79%;height:91%;margin:0 auto;overflow:auto;color:#fff;}
.neirong img{display:block;margin:0 auto;max-width:88%;margin-bottom:3vw;}
.neirong img.qgz{max-width:43%;}
.erweima,.jiangpinag{width:80%;margin:0 auto;text-align:center;color:#4f4f4f;}
.erweima img{display:block;max-width:64%;margin:0 auto;}
.jiangpinag{width:90%;font-size:4.8vw;}
.jiangpinag img{display:block;max-width:80%;margin:0 auto;margin-top:5vw;}
/*======公共样式：结束=======*/

[v-cloak]{display:none;}
/*无点击效果*/
.NoClike{-webkit-appearance: none;-moz-appearance:none;-ms-appearance:none; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none; -webkit-user-select: none;}
/*无点击效果*/

/*Swiper：开始*/
.swiper-container{height: 42vw;}
.Banner-index a{display: block;width: 100%; height: 100%;position: relative;}
.Banner-index a>img{display: block; max-width: 100%;min-height: 100%;}
.swiper-pagination.swiper-pagination-bullets{bottom: 2px;}

.active-underline{   position: absolute;  bottom: 0;  left: 0;  height: 2px;  background: rgb(6, 173, 240); width: 100%;transition: all 0.05s;}
#header {   width: 100%;  height: 43px; overflow: hidden;  font: 12px/40px hiragino sans gb, microsoft yahei, simsun;}
#header .swiper-slide {  text-align: center; width: 56px; width: auto;}
.BasicList-Hengxiang{ overflow-x:auto;overflow-y:hidden;}
.BasicList-Hengxiang ul{display: block;margin: 0;padding: 0; white-space: nowrap;}
.BasicList-Hengxiang li{display: inline-block; }
.BasicList-enter{overflow:hidden;}
.BasicList-enter ul{display: block; width:calc(100% + 5vw);overflow: hidden;}
.BasicList-enter ul li{float: left; display:block; }
/*Swiper：结束*/


/*首页样式：开始*/
.content{padding: 3vw;}
.shangpinItam{background: #fff; width: 29.7vw; margin-right: 2.5vw;margin-bottom: 2.5vw;}
.shangpinItam.mini{width: 27vw;}
.shangpinItam.mini .top a{min-height: 27vw;}

.shangpinItam .top a{display: block; position: relative;overflow: hidden;min-height: 29.7vw;}
.shangpinItam .top a img{min-width: 100%;}
.toubiao{position: absolute; ; left: -4vw; top: 3vw; height: 4vw; line-height: 4vw; font-size: 2.5vw; font-weight: bold;
    background: rgba(255, 0, 0, 0.623); width: 18vw;color: #fff;text-align: center; transform: rotate(-45deg);}
    .shangpinItam .top .quehuo{color: #fff;text-align: center;display: block;position: absolute;z-index: 5;bottom: 0;width: 100%;
    line-height: 1.8em;font-size: 3.2vw;background: rgba(0, 0, 0, 0.575);}
    .shangpinItam .top .quehuo.yusou{background: #007bff7c}
.shangpinItam p.title{height: 2.3em; margin: 6px; color: #555; word-wrap:break-word; font-size: 13px;  line-height: 1.3em;  white-space: normal; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
label.price{font-size: 13px;}
.addCat{padding: 4px;}
label.price span{color: red;}
.Cat-Icon{float: right;    }
.Cat-Icon span{ transform: scale(0.9);  font-size: 12px; font-weight: bold; border: 1px solid #007aff; color: #007aff;padding: 3px;border-radius: 50%;}
/*首页样式：结束*/
