<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1,, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>云南土特产批发</title>
    <link rel="stylesheet" href="../web/css/mui.min.css">
    <link rel="stylesheet" href="../web/css/icons-extra.css">
    <link rel="stylesheet" href="../web/css/swiper-4.3.3.min.css">
    <link rel="stylesheet" href="../web/css/Style.css">
</head>

<body>
    <div id="app">
        <div class="MaxBody">
            <!-- 搜索框模块：开始 -->
            <div class="content" style="padding-bottom: 0;">
                <div class="mui-input-row mui-search mui-active">
					<input type="search" class="mui-input-clear" placeholder="请输入您要搜索的商品">
				</div>
            </div>
            <!-- 搜索框模块：结束 -->

             <!-- 筛选商品模块：开始 -->
            <div class="content Saixuan" style="padding-top: 0;">
                <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
                    <a class="mui-control-item mui-active" >
                        全部
                    </a>
                    <a class="mui-control-item" >
                        价格
                        <label class="zhibiaoJiantou">
                            <span class="mui-icon mui-icon-arrowup sd"></span>
                            <span class="mui-icon mui-icon-arrowdown"></span>
                        </label>
                    </a>
                    <a class="mui-control-item" >
                        新品
                    </a>
                </div>
            </div>
              <!-- 筛选商品模块：开始 -->

            <!-- 基础列表模块：开始 -->
            <div class="BasicList">

                <div class="content">
                    <div class="BasicList-enter">
                        <ul>
                            <li v-for="cont in 6">
                                <div class="shangpinItam CaoBig">
                                    <div class="top">
                                        <a href="#">
                                            <p class="toubiao">爱心组农</p>
                                            <img alt="商品图片" class="bg" src="../web/img/60x60.gif">
                                            <p class="quehuo" style="display:none;">缺货</p>
                                            <p class="quehuo yusou">预售</p>
                                        </a>
                                    </div>
                                    <div class="bottom">
                                        <p class="title">标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
                                        <div class="addCat">
                                            <label class="price">
                                                <!-- <s>￥500.00</s> -->
                                                <span>￥50.00</span>
                                            </label>
                                            <a class="Cat-Icon">
                                                <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                  
                </div>
            </div>
            <!-- 基础列表模块：结束 -->

            <!-- 更多精选列表模块：开始 -->
            <h5 style="text-align: center;">更多精选</h5>
            <div class="BasicList">

                <div class="content">
                    <div class="BasicList-enter">
                        <ul>
                            <li v-for="cont in 6">
                                <div class="shangpinItam big">
                                    <div class="top">
                                        <a href="#">
                                            <p class="toubiao">爱心组农</p>
                                            <img alt="商品图片" class="bg" src="../web/img/60x60.gif">
                                            <p class="quehuo" style="display:none;">缺货</p>
                                            <p class="quehuo yusou">预售</p>
                                        </a>
                                    </div>
                                    <div class="bottom">
                                        <p class="title">标题标题标题标题标题标题标题标题标题标题标题标题标题</p>
                                        <div class="addCat">
                                            <label class="price">
                                                <!-- <s>￥500.00</s> -->
                                                <span>￥50.00</span>
                                            </label>
                                            <a class="Cat-Icon">
                                                <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                  
                </div>
            </div>

            <!-- 更多精选列表模块：结束 -->


            <!-- 商家底部海报图：开始 -->
            <div class="buttomImg content">
                 <img src="../web/img/shuijiao.jpg" alt="商家底部图片" class="bg" />
            </div>
            <!-- 商家底部海报图：结束 -->
        </div>
        <!-- 结构内容区域：结束 -->



        


        <!-- 右侧浮动按钮：开始 -->
        <div class="fd right"  > 
            <a href="#" style="display: none;">
                <span class="mui-icon mui-icon-extra mui-icon-extra-top"></span>
            </a>
            <a >
                <span class="mui-icon mui-icon-extra mui-icon-extra-custom"></span>
            </a>
        </div>
      
        <!-- 右侧浮动按钮：结束 -->


        <!-- 底部tabBar区域：开始 -->
        <nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item " href="#tabbar">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">店铺首页</span>
            </a>
            <a class="mui-tab-item mui-active" href="#tabbar-with-chat">
                <span class="mui-icon mui-icon-search"></span>
                <span class="mui-tab-label">快速搜索</span>
            </a>
            <a class="mui-tab-item" href="#tabbar-with-contact">
                <span class="mui-icon mui-icon-extra mui-icon-extra-cart"><span class="mui-badge">1</span></span>
                <span class="mui-tab-label">购物车</span>
            </a>
            <a class="mui-tab-item" href="#tabbar-with-map">
                <span class="mui-icon mui-icon-contact"></span>
                <span class="mui-tab-label">我的订单</span>
            </a>
        </nav>
        <!-- 底部tabBar区域：结束 -->

    </div>
    <!-- 结构内容区域：开始 -->

    <script src="../web/js/jquery.min.js"></script>
    <script src="../web/js/mui.min.js"></script>
    <script src="../web/js/vue.min.js"></script>
    <script>

        var app = new Vue({
            el: "#app",
            data: {
                msg: "op"
            }
        })
		

    var topbtn = $(".mui-icon-extra-top").parent(); //想要一键向上的按钮元素
    var lastScroll = 0;
    window.onscroll = function () {
        //onscroll貌似为html5的属性
        var top = $(window).scrollTop(); //初始均为0

        if (top > 250) {
            topbtn.css("display", "");
        }
        else {
            //若为起始状态，则不显示向上图标
            topbtn.css("display", "none");
        } 
    }





    </script>

</body>

</html>